<div class="event-list-container">
  <div>
    <%= link_to new_bright_event_path , class: 'btn btn-warning' do %>
      <i class="uil uil-plus"></i>
      <span>Agregar evento</span>
    <% end %>
  </div>
  <div class="table-container">
    <table>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Ubicación</th>
        <th>Costo</th>
        <th>Editar</th>
        <th>Ver</th>
        <th>Eliminar</th>
      </tr>
      <% @events.each do |event|%>
        <tr>
          <td>
            <%= event.title %>
          </td>
          <td>
            <%= event.description %>
          </td>
          <td>
            <%= event.date %>
          </td>
          <td>
            <%= event.location %>
          </td>
          <td>
            <%= event.cost %>
          </td>
          <td>
            <%= link_to edit_bright_event_path(event.id) do %>
              <i class="uil uil-pen"></i>
            <% end %>
          </td>
          <td>
            <i class="uil uil-eye"></i>
          </td>
          <td>
            <i class="uil uil-trash-alt"></i>
          </td>
        </tr>
      <% end %>      
    </table>
  </div>
</div>
