<div class="form-wrap">
  <div class="form-container">
    <h1>Create Event</h1>
    <%= form_for (@event) do |f| %>
      <%= f.text_field :title, placeholder: 'Título', required: true %>
      <%= f.text_field :description, placeholder: 'Descripción', required: true %>
      <%= f.date_field :date, placeholder: 'Fecha', min: 0.days.ago, required: true %>
      <%= f.text_field :location, placeholder: 'Ubicación', required: true %>
      <%= f.number_field :cost, in: 0.00..1000000.00, step: 0.01, placeholder: 'Precio', required: true %>
      <%= f.submit 'Agregar', class: 'btn btn-submit', required: true %>
    <% end %>
  </div>
</div>
