<header>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag('defaults/logo.webp') %>
    <% end %>
  </div>
  <% if current_user %>
    <%= link_to 'Eventos públicos', bright_events_path %>
    <%= link_to 'Mis eventos', user_bright_events_path %>
    <%= link_to 'Cerrar Sesion', destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'Inicia Sesion', new_user_session_path %>
  <% end %>
</header>
